/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .personal-container {
        margin: 0% 6%;
    }

    .presentation-inner-padding-top {
        padding-top: 100px;
    }

    .car-x2 {
        position: relative;
        min-height: 310px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {

    .personal-container {
        margin: 0% 4%;
    }

    .presentation-inner-padding-top {
        padding-top: 30px;
    }

    .car-x2 {
        position: relative;
        min-height: 290px;
    }

    .description-x2{
        padding: 10px 0px 20px;
    }

    .h1, h1 {
        font-size: 2.1rem;
        padding: 15px;
    }
    .h2, h2 {
        font-size: 1.9rem;
        padding: 15px;
    }
    .h3, h3 {
        font-size: 1.75rem;
        padding: 15px;
    }
    .h4, h4 {
        font-size: 1.5rem;
        padding: 15px;
    }
    .h5, h5 {
        font-size: 1.35rem;
        padding: 15px;
    }

    .car-search {
        padding: 8px;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .hero{
        padding-top: 60px;
    }

    .menu {
        margin-top: 0px;
        padding-top: 16px;
        background: black;
    }

    .personal-container {
        margin: 0% 0%;
    }

    .presentation-inner-padding-top {
        padding-top: 10px;
    }

    .car-x2 {
        position: relative;
        min-height: 250px;
    }

    .description-x2{
        padding: 10px 0px 30px;
    }

    .h1, h1 {
        font-size: 1.9rem;
        padding: 15px;
    }
    .h2, h2 {
        font-size: 1.6rem;
        padding: 15px;
    }
    .h3, h3 {
        font-size: 1.4rem;
        padding: 15px;
    }
    .h4, h4 {
        font-size: 1.3rem;
        padding: 15px;
    }
    .h5, h5 {
        font-size: 1.15rem;
        padding: 15px;
    }
    p{
        padding: 5px 15px;
    }
    .container-testimonial{
        padding: 5px;
    }

    .car-search {
        padding: 0px;
    }

    .card-body {
        padding: 0px 0px 0px;
    }

    .car-results{
        padding: 0px;
    }

    .sidebar {
        overflow-y: scroll;
    }

    .maps{
        min-height: 150px;
    }
}
