@font-face {
    font-family: 'Futura-Medium';
    src: url('../fonts/futura medium bt.ttf'), /* IE9 Compat Modes */
    url('../fonts/futura medium bt.ttf')  format('truetype')
}

@font-face {
    font-family: 'Futura-light';
    src: url('../fonts/futura light bt.ttf'), /* IE9 Compat Modes */
    url('../fonts/futura light bt.ttf')  format('truetype')
}

@font-face {
    font-family: 'Futura Bold';
    src: url('../fonts/Futura Bold font.ttf'), /* IE9 Compat Modes */
    url('../fonts/Futura Bold font.ttf')  format('truetype')
}

html,body{
    padding:0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Futura-light' !important;
    color: #3e3b3b;
    background: #efefef;
}


.container-fluid{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.sidebar {
    transition: all 0.3s ease;
    position: fixed;
    background: rgb(25 25 25);
    width: 300px;
    height: 100%;
    clear: none;
    left: 0;
    margin-left: -300px;
    z-index: 100000;
}

.content {
    transition: all 0.5s ease;
    overflow: hidden;
}

.container-fluid.toggled .sidebar {
    margin-left: 0px;
    -webkit-box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.80);
    -moz-box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.80);
    box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.80);
}

.bground-config-clean{
    background-position: 50% 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

h1,h2,h3,h4{
    font-family: 'Futura-Medium', sans-serif;
}

h5,h6,p{
    font-family: 'Futura-light', sans-serif;
}

p{
    margin-bottom: 0px;
    font-size: 1.15rem;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.section-type-ultra{
    min-height: 100vh;
}

.section-type-s{
    min-height: 1000px;
}

.section-type-a{
    min-height: 800px;
}

.section-type-b {
    min-height: 600px;
}

.section-type-c {
    min-height: 400px;
}

.section-type-d {
    min-height: 200px;
}

.vertical-align{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-64{
    margin-bottom: 64px;
}

#pre{
    display: flex;
    width: 100%;
    /* background: white; */
    height: 100vh;
    position: fixed;
    z-index: 1000;
    transition: 1s;
    opacity: 0;
}

#pre.pre-loader{
    display: flex;
    width: 100%;
    background: white;
    height: 100vh;
    position: fixed;
    z-index: 10000;
    transition: 1s;
    opacity: 1;
}


.presentation{
    background: #353a79;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #2f2e2e, #262930);  */
    background: linear-gradient(to right, #353a79, #262930)
}

.presentation-inner-padding-top{
    padding-top: 200px;
}

.presentation-inner-padding-top2{
    padding-top: 100px;
}

.find-car-form{
    background: #fff;
    /* border-radius: 8px; */
}

.tab-content>.active {
    background: #fff;
    padding: 16px;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold;
    color: #696969;
}

.form-control {
    font-weight: bold;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
    background: rgb(247, 247, 247);
}

.menu{
    background: transparent;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: .5s;
    margin-top: 16px;
}

.menu.negative *{
    color: #272727 !important;
}

.menu.fixed{
    background: black;
    margin-top: 0px;
    transition: .5s;
}

.menu.fixed.negative *{
    color: white !important;
}

.personal-container{
    margin: 0% 10%;
}

.car-x2{
    position: relative;
    min-height: 400px;
}

.car-x2 > img.ml-config{
    max-width: 550px;
    float: right;
}

sub {
    bottom: -.05em;
}
sub, sup {
    font-size: 50%;
}

.car-description-principal-center{
    max-width: 750px;
    margin: 0 auto;
    display: block;
}

.pointer-color-selector{
    height: 20px;
    width: 20px;
    border-radius: 15px;
    margin: 10px;
    display: block;
    cursor:pointer;
}

.pointer-color-selector.v2{
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 5px;
}


.pointer-color-selector.white{
    background: white;
}

.pointer-color-selector.grey{
    background: grey;
}

.pointer-color-selector.black{
    background: black;
}

.pointer-color-selector.orange{
    background: orange;
}

.pointer-color-selector.silver{
    background: silver;
}

.pointer-color-selector.red{
    background: red;
}

.pointer-color-selector.blue{
    background: #003fe1;
}


button, a.btn{
    border-radius: 0px !important;
}

.advertisements::before{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(6,3,2,.71)),to(rgba(6,3,2,70)));
    background-image: linear-gradient(0deg,rgba(6,3,2,.71),rgba(6,3,2,70));
    content: "";
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    width: 100%;
    z-index: 0;
}
/*
.advertisements:hover::before{
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(6,3,2,.71)),to(rgba(6,3,2,70)));
    background-image: linear-gradient(0deg,rgba(6,3,2,.71),rgba(6,3,2,70));
    opacity: .6;
} */

.advertisements>div{
    z-index: 1;
}

.car-photo{
    padding: 0px 15px;
    z-index: 1;
    max-width: 250px;
    margin: 0 auto;
}

.car-photo2 {
    padding: 0px 0px;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
}

.car-search{
    background: white;
    -webkit-box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.61);
    box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.61);
    padding: 16px;
}

.display-colors-available-catalogue{
    position: absolute;
    right: 5px;
    top: 5px;
}

.card-body {
    padding: 0px 1.25rem 1rem;
}

.model-car-background{
    font-size: 2.70rem;
    letter-spacing: 8px;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    padding-top: 8px;
    z-index: 0;
    font-family: "Futura Bold";
    color: #8e8e923d;
    padding-left: 16px;
}

.car-pricing-catalogue{
    font-size: 19px;
    font-family: "Futura Bold";
    letter-spacing: 3px;
    color: #343977;
}

.option-selectable{
    font-family: "Futura Bold";
    color: #5a5a5a;
}

.option-selectable.v2{
    letter-spacing: 2px;
}

.menu-dropdown{
    background: transparent;
    border: none;
}

button:focus {
    outline: transparent;
}

.dropdown-menu {
    border-radius: 0px;
}

.ribbon-thumbs{
    background: #353a79;
    padding: 16px;
}








.min-height-td-pricing{
    min-height: 75px;
    height: 75px;
}

.min-height-td-pricing > p{
    font-size: 20px;
    color: #757575;
    font-weight: bold;
}

.min-height-td-pricing > strong {
    color: rgb(35 35 35);
}

.min-height-td-pricing > p > i{
    color: rgb(109 210 109) !important;
    margin-right: 7px;
}

.min-height-td-pricing > p > i.red{
    color: #ff7070 !important;
    margin-right: 7px;
    padding-top: 7px;
}

/* .min-height-td-pricing > strong.disabled{
    color: rgb(204 204 204);
} */

.pricing{
    border: 1px solid rgb(212 212 212);
    padding: 20px 0px 0px;
}

.pricing:hover{
    transition: .5s;
    border: 1px 0px solid rgb(212 212 212);
    -webkit-box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.50);
    -moz-box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.50);
    box-shadow: 2px 3px 37px -17px rgba(0,0,0,0.50);
}

.pricing > table{
    margin-bottom:0px;
}

.cl-only-hosting{
    color: #58b4e0;
}
.cl-basic-support{
    color: #e0c358;
}
.cl-basic-maintenance{
    color: #58e069;
}
.cl-middle-maintenance{
    color: #6058e0;
}
.cl-advanced-maintenance{
    color: #c558e0;
}
.cl-basic-consulting{
    color: #bfe058;
}
.cl-advanced-consulting{
    color: #e0585e;
}

.bg-only-hosting{
    background: #58b4e0;
}
.bg-basic-support{
    background: #e0c358;
}
.bg-basic-maintenance{
    background: #58e069;
}
.bg-middle-maintenance{
    background: #6058e0;
}
.bg-advanced-maintenance{
    background: #c558e0;
}
.bg-basic-consulting{
    background: #bfe058;
}
.bg-advanced-consulting{
    background: #e0585e;
}

.bg-only-hosting:hover{
    transition: .3s;
    color: white;
}
.bg-basic-support:hover{
    transition: .3s;
    color: white;
}
.bg-basic-maintenance:hover{
    transition: .3s;
    color: white;
}
.bg-middle-maintenance:hover{
    transition: .3s;
    color: white;
}
.bg-advanced-maintenance:hover{
    transition: .3s;
    color: white;
}
.bg-basic-consulting:hover{
    transition: .3s;
    color: white;
}
.bg-advanced-consulting:hover{
    transition: .3s;
    color: white;
}



.pointer{
    cursor: pointer;
}

.color-selectors{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.sublist_options{
    display: none;
    position: absolute;
    width: max-content;
    background: white;
    color: #404040;
    z-index: 10;
    transition: .8s;
}

.sublist_options div{
    padding: 8px 32px;
    font-size: 16px;
}

.sublist_options div:hover{
    background: #ececec;
    cursor: pointer;
}

.sublist_options.show{
    transition: .8s;
    display: flex;
}

.sublist_options2{
    display: none;
    position: absolute;
    width: max-content;
    background: white;
    color: #404040;
    z-index: 10;
    transition: .8s;
}

.sublist_options2 div{
    padding: 8px 32px;
}

.sublist_options2 p{
    font-size: 1.05rem;
}

.sublist_options2 div:hover{
    background: #ececec;
    cursor: pointer;
}

.sublist_options2.show{
    transition: .8s;
    display: block;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.dropdown:hover a {
    color: #C9A424 !important;
}

.mostaza{
    color: #C9A424;
}

.nav-link.active{
    color: #C9A424 !important;
}

.compensate-for-scrollbar {
    margin-right: 0px !important;
}

.line-buttons{
    z-index: 100;
    bottom: 15px;
    right: 15px;
    transition: .3s;
    max-width: 55px;
}

.line-buttons a img{
    max-width: 55px;
}

/* .line-buttons:hover{
   max-width: 65px;
   z-index: 100;
   bottom: 15px;
   right: 15px;
   transition: .3s;
} */

.line-buttons .whatsapp img{
    padding: 0px;
    max-width: 60px;
    transition: .5s;
}
.line-buttons .messenger img{
    padding: 5px;
    margin-bottom: -77px;
    transition: .5s;
}
.line-buttons .phone img{
    padding: 5px;
    margin-bottom: -123px;
    transition: .5s;
}
.line-buttons .calendar img{
    padding: 5px;
    margin-bottom: -170px;
    transition: .5s;
}

.line-buttons:hover .whatsapp img{
    padding: 5px;
    max-width: 55px;
    margin-bottom: 0px;
    transition: .5s;
}
.line-buttons:hover .messenger img{
    margin-bottom: 0px;
    transition: .5s;
}
.line-buttons:hover .phone img{
    margin-bottom: 0px;
    transition: .5s;
}
.line-buttons:hover .calendar img{
    margin-bottom: 0px;
    transition: .5s;
}



/*
.whatsapp-access:hover:before{
    transition: .5s;
    content: "¿En qué podemos ayudarte?";
    border: 1px solid #d0d0d0;
    width: 230px;
    height: 35px;
    display: block;
    margin-left: -210px;
    border-radius: 12px 12px 0px 12px;
    padding: 5px 10px;
    color: black;
    position: absolute;
    background: #f9f2e9;
    -webkit-box-shadow: -4px -1px 28px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px -1px 28px -16px rgba(0,0,0,0.75);
    box-shadow: -4px -1px 28px -16px rgba(0,0,0,0.75);
} */


footer{
    border-top: 1px solid #d2d2d2;
}
.container-testimonial{
    padding: 20px;
}

footer a{
    color: initial;
}

.container-card-car:hover {
    transition: .5s;
    -webkit-box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.21);
    box-shadow: 0px 2px 30px -6px rgba(0,0,0,0.21);
}

.maps{
    width:100%;
    height: 100%;
    max-width: 100%;
    min-height: 175px;
}
