<template>
  <div>
    <div class="hero section-type-s bground-config-clean presentation">
      <div>
        <Banner></Banner>
        <div class="row section-type-c">
          <CarCard
            buttonText="Ver catálogo"
            :urlImage=url1
            title="Autos nuevos"
          ></CarCard>
          <CarCard
            buttonText="Ver catálogo"
            :urlImage=url2
            title="Autos seminuevos"
          ></CarCard>
          <CarCard
            buttonText="Más información"
            :urlImage=url3
            title="Servicios de reparación"
          ></CarCard>
        </div>
      </div>
    </div>
    <div class="section-type-a pt-5 pb-5 presentation">
      <div class="personal-container">
        <div class="mb-64">
          <h1 class="text-center text-light">Consulta nuestro catálogo</h1>
          <h5 class="text-center text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
        </div>
        <div class="row section-type-c car-search justify-content-center">
          <div class="col-12 car-results">
            <div class="row no-gutters">
              <!--Otro aqui. Aqui va el tablero de coches-->
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
              <CocheCard></CocheCard>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-type-a pt-5">
      <div class="personal-container">
        <div class="mb-32">
          <h1 class="text-center pt-2">Grupo Felix</h1>
          <h2 class="text-center mb-64">Conoce nuestro blog</h2>
        </div>
        <div class="row section-type-c mb-32">
          <BlogEntrance></BlogEntrance>
          <BlogEntrance></BlogEntrance>
          <BlogEntrance></BlogEntrance>
        </div>
        <div class="row mb-64">
          <div class="col-12">
            <button type="button" class="btn btn-primary d-block mx-auto" style="border-radius: 0px;">Ver más artículos</button>
          </div>
        </div>
      </div>
    </div>
    <div class="section-type-c pb-5 mb-32 position-relative bground-config-clean" :style="{ backgroundImage: `url('${testimonialImage}')` }">
      <div class="personal-container advertisements">
        <div class="mb-32 pt-5">
          <h1 class="text-center text-light position-relative" style="z-index: 10;">Testimonios de nuestros clientes</h1>
          <h5 class="text-center text-light position-relative" style="z-index: 10;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
        </div>
        <div class="row section-type-c">
          <div class="owl-carousel carousel-principal-testimonials">
            <Testimonial></Testimonial>
            <Testimonial></Testimonial>
            <Testimonial></Testimonial>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
// :style="{ backgroundImage: `url('${urlImage}')` }"
// ./resources/pexels-steven-arenas-379419.jpg

// import HelloWorld from '@/components/HelloWorld.vue'
// import Navbar from '@/components/Sidebar.vue'
import Banner from '@/components/Banner'
import CarCard from '@/components/CarCard'
import CocheCard from '@/components/CocheCard'
import BlogEntrance from '@/components/BlogEntrance'
import Testimonial from '@/components/Testimonial'
export default {
  name: 'Home',
  components: {
    // Navbar
    Banner,
    CarCard,
    CocheCard,
    BlogEntrance,
    Testimonial
  },
  data () {
    return {
      url1: require('@/assets/images/pexels-svh-2684218.jpg'),
      url2: require('@/assets/images/pexels-simon-migaj-1571783.jpg'),
      url3: require('@/assets/images/pexels-pixabay-162553.jpg'),
      testimonialImage: require('@/assets/images/pexels-steven-arenas-379419.jpg')
    }
  }
}
</script>
