<template>
  <div class="personal-container">
    <div class="row section-type-s pt-5">
      <div class="col-12 col-lg-5 vertical-align">
        <div>
          <h1 class="text-light mb-24">
            Encuentra el auto perfecto para ti en Grupo Felix Agencia Automotriz
          </h1>
          <p class="text-light mb-32">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique cumque culpa non ipsam vitae excepturi doloribus quaerat debitis eum sunt eius explicabo, natus tempore ab odit unde facilis dicta temporibus.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-7 presentation-inner-padding-top ">
        <div>
          <div class="owl-carousel carousel-principal-cars">
            <div class="carrousel-element">
              <div class="car-x2">
                <img src="@/assets/images/autos/chevrolet/spark/orange.png" class="w-100 ml-config spark2020_1231" alt="Chevrolet Spark color ocre">
                <br>
                <div class="d-flex justify-content-end mb-24 color-selectors">
                  <span class="pointer-color-selector white" @click="setColorCar('spark2020_1231','white', '@/assets/images/autos/chevrolet/spark/')"></span>
                  <span class="pointer-color-selector grey" @click="setColorCar('spark2020_1231','grey', '@/assets/images/autos/chevrolet/spark/')"></span>
                  <span class="pointer-color-selector black" @click="setColorCar('spark2020_1231','black', '@/assets/images/autos/chevrolet/spark/')"></span>
                  <span class="pointer-color-selector orange" @click="setColorCar('spark2020_1231','orange', '@/assets/images/autos/chevrolet/spark/')"></span>
                  <span class="pointer-color-selector silver" @click="setColorCar('spark2020_1231','silver', '@/assets/images/autos/chevrolet/spark/')"></span>
                  <span class="pointer-color-selector red" @click="setColorCar('spark2020_1231','red', '@/assets/images/autos/chevrolet/spark/')"></span>
                </div>
              </div>
              <div class="description-x2">
                <h2 class="text-right text-light mb-16">
                  Chevrolet Spark 2020
                </h2>
                <h3 class="text-right text-light mb-16">
                  desde <strong><sub>$</sub> <span style="color: #e8aa37;">194,500</span> <sup>MXN</sup> </strong>
                </h3>
                <h6 class="text-right text-light">Cinco versiones disponibles (LT, LT CVT,
                  Premiere, Premiere CVT y ACTIV)</h6>
                <p class="text-right text-light">Faros delantes con proyección de halógeno</p>
                <p class="text-right text-light">Faros de niebla cromados (ACTIV)</p>
                <p class="text-right text-light">Luces diurnas de LED (Premier)</p>
                <p class="text-right text-light">10 colores disponibles</p>
              </div>
            </div>
            <div class="carrousel-element">
              <div class="car-x2">
                <img src="@/assets/images/autos/chevrolet/blazer/red.png" class="w-100 ml-config blazer2020_1231" alt="Chevrolet Blazer color rojo">
                <br>
                <div class="d-flex justify-content-end mb-24 color-selectors">
                  <span class="pointer-color-selector blue" @click="setColorCar('blazer2020_1231','blue', '@/assets/images/autos/chevrolet/blazer/')"></span>
                  <span class="pointer-color-selector black" @click="setColorCar('blazer2020_1231','black', '@/assets/images/autos/chevrolet/blazer/')"></span>
                  <span class="pointer-color-selector red" @click="setColorCar('blazer2020_1231','red', '@/assets/images/autos/chevrolet/blazer/')"></span>
                </div>
              </div>
              <div class="description-x2">
                <h2 class="text-right text-light mb-16">
                  Blazer 2020
                </h2>
                <h3 class="text-right text-light mb-16">
                  desde <strong><sub>$</sub> <span style="color: #e8aa37;">494,500</span> <sup>MXN</sup> </strong>
                </h3>
                <h6 class="text-right text-light">Cinco versiones disponibles (LT, LT CVT,
                  Premiere, Premiere CVT y ACTIV)</h6>
                <p class="text-right text-light">Faros delantes con proyección de halógeno</p>
                <p class="text-right text-light">Faros de niebla cromados (ACTIV)</p>
                <p class="text-right text-light">Luces diurnas de LED (Premier)</p>
                <p class="text-right text-light">10 colores disponibles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Banner',
  methods: {
    setColorCar (arg1, arg2, arg3) {
      console.log('hola')
      console.log(document.getElementsByClassName(arg1)[0])
      if (!arg3) {
        console.log('if')
        document.getElementsByClassName(arg1)[0].setAttribute('src', '@/assets/images/autos/default.png')
      } else {
        console.log('else')
        document.getElementsByClassName(arg1)[0].setAttribute('src', `${arg3}${arg2}.png`)
      }
    }
  }
}
</script>

<style scoped>

</style>
