<template>
  <div class="col-12 col-md-4 col-lg-4">
    <div class="card mb-2 w-100 pointer">
      <img src="@/assets/images/pexels-vlad-alexandru-popa-1402787.jpg" class="mw-100"
           alt="SUSTITUIR POR LOS NOMBRES DE LOS VEHICULOS PARA EL SEO">
      <div class="card-body">
        <h5 class="card-title text-left font-weight-bold mb-0 mt-4">Lorem ipsum dolor</h5>
        <h6 class="text-left">Agosto 2020</h6>
        <p class="card-text text-justify mb-24" style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, beatae molestias! Harum, adipisci architecto? Perspiciatis quas eius incidunt tenetur quod, ipsa inventore adipisci corrupti modi nisi ab, odio accusantium dolore?</p>
        <a href="#" class="btn btn-outline-primary d-block mx-auto" style="border-radius: 0px;">Ver artículo</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BlogEntrance'
}
</script>

<style scoped>

</style>
