<template>
  <div class="col-12 col-lg-4 bground-config-clean vertical-align advertisements" :style="{ backgroundImage: `url('${urlImage}')` }">
    <div class="p-4">
      <h2 class="text-center text-light mb-16">{{title}}</h2>
      <p class="text-center text-light mb-24">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure officiis deleniti quis? </p>
      <button type="button" class="btn btn-primary font-weight-bold d-block mx-auto">{{buttonText}}</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CarCard',
  props: {
    buttonText: String,
    title: String,
    urlImage: String
  },
  computed: {
    carImage () {
      return {
        backgroundImage: `url${require('' + this.urlImage + '')}`
      }
    }
  },
  created () {
    console.log('jeje')
  }
}
</script>

<style scoped>

</style>
