<template>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="card mb-2 w-100 pointer container-card-car">
      <div class="d-flex flex-column display-colors-available-catalogue mb-8">
        <span class="pointer-color-selector v2 grey"></span>
        <span class="pointer-color-selector v2 black"></span>
        <span class="pointer-color-selector v2 orange"></span>
      </div>
      <p class="model-car-background">AVEO</p>
      <img src="@/assets/images/autos/AVEO-2020.png" class="card-img-top car-photo" alt="SUSTITUIR POR LOS NOMBRES DE LOS VEHICULOS PARA EL SEO">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold mb-0 mt-2">AVEO</h5>
        <h6 class="text-center">2020</h6>

        <p class="card-text text-center mb-8" style="font-size: 16px;">Comienza desde $ 18,700.00</p>
        <p class="card-text text-center mb-16 car-pricing-catalogue">$ 4,710.00 mensual</p>
        <a href="/description" class="btn btn-outline-primary d-block mx-auto" style="border-radius: 0px;">Estoy interesado</a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'CocheCard'
}
</script>
<style scoped>

</style>
