<template>
  <footer class="section-type-d pt-5 pb-5">
    <div class="personal-container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-2">
          <img src="@/assets/images/logo/logo2.png" class="w-100 d-block mx-auto" style="max-width: 150px;" alt="Agencia Felix">
          <div class="d-flex justify-content-around mt-2">
            <a href="https://www.facebook.com/grupofelixmx/">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/grupofelixmx/">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/GrupoFelixMX">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/grupof%C3%A9lix-automotriz/">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCveyNZD8gJ_4rRWVexuDYVg">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
        <div class="col-6 col-lg-2">
          <h5 class="font-weight-bold mb-24">Inventario</h5>
          <p class="mb-16 option-selectable">Nuevos</p>
          <p class="mb-16 option-selectable">Seminuevos</p>
          <p class="mb-16 option-selectable">Programas</p>
          <p class="mb-16 option-selectable">Fleet Services</p>
          <p class="mb-16 option-selectable">Leasing</p>
        </div>
        <div class="col-6 col-lg-2">
          <h5 class="font-weight-bold mb-24">Servicios Postventa</h5>
          <p class="mb-16 option-selectable">Taller de Servicio</p>
          <p class="mb-16 option-selectable">Taller de Colisión</p>
          <p class="mb-16 option-selectable">Refacciones</p>
        </div>
        <div class="col-6 col-lg-2">
          <h5 class="font-weight-bold mb-24">Financiamiento</h5>
          <p class="mb-16 option-selectable">Requisitos</p>
          <p class="mb-16 option-selectable">Solicitud de Crédito</p>
          <p class="mb-16 option-selectable">Garantía Extendida</p>
        </div>
        <div class="col-6 col-lg-2">
          <h5 class="font-weight-bold mb-24">Nosotros</h5>
          <p class="mb-16 option-selectable"><a href="/nosotros">Quiénes Somos</a></p>
          <p class="mb-16 option-selectable">Aviso de Privacidad</p>
          <p class="mb-16 option-selectable">Términos y Condiciones</p>
          <p class="mb-16 option-selectable">Contáctanos</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>

</style>
