<template>
  <div id="menu" class="menu">
    <div class="personal-container d-flex justify-content-between">
      <div class="logo">
        <a href="/"><img src="@/assets/images/logo/logo.png" class="w-100" style="max-width: 120px;" alt="Logo de grupo felix"></a>
      </div>
      <ul class="nav pt-3 d-none d-md-flex d-lg-flex">
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-light active" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown" v-on:onmouseover="showThisOptions('new_car', true)" v-on:onmouseout="showThisOptions('new_car', false)">
          <a class="nav-link font-weight-bold text-light">Autos Nuevos</a>
          <div class="sublist_options new_car" >
            <div><a href="/autosnuevoschevrolet"><img src="@/assets/images/marcas/chevrolet.png" style="width: 50px;" alt="Logo de chevrolet"></a></div>
            <div><a href="/autosnuevoscadillac"><img src="@/assets/images/marcas/cadillac.png" style="width: 50px;" alt="Logo de chevrolet"></a></div>
          </div>
        </li>
        <li class="nav-item dropdown" v-on:onmouseover="showThisOptions('seminew_car', true)" v-on:onmouseout="showThisOptions('seminew_car', false)">
          <a class="nav-link font-weight-bold text-light">Seminuevos</a>
          <div class="sublist_options seminew_car" >
            <div><a href="/autosseminuevoschevrolet"><img src="@/assets/images/marcas/chevrolet.png" style="width: 50px;" alt="Logo de chevrolet"></a></div>
            <div><a href="/autosseminuevoscadillac"><img src="@/assets/images/marcas/cadillac.png" style="width: 50px;" alt="Logo de chevrolet"></a></div>
          </div>
        </li>

        <li class="nav-item dropdown" v-on:onmouseover="showThisOptions('promociones', true)" v-on:onmouseout="showThisOptions('promociones', false)">
          <a class="nav-link font-weight-bold text-light">Promociones</a>
          <div class="sublist_options2 promociones">
            <div>
              <p>Financiamiento</p>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" v-on:onmouseover="showThisOptions('postventa', true)" v-on:onmouseout="showThisOptions('postventa', false)">
          <a class="nav-link font-weight-bold text-light">Postventa</a>
          <div class="sublist_options2 postventa" >
            <div>
              <p>Cita de servicio</p>
            </div>
            <div>
              <p>Refacciones</p>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold text-light" href="/contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <div class="form-group">
            <select class="form-control btn btn-outline-light" id="selectCity">
              <option disabled selected>Selecciona tu ciudad</option>
              <option>Los Mochis</option>
              <option>Guasave</option>
              <option>Culiacán</option>
              <option>Mazatlán</option>
            </select>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Menu',
  methods: {
    showThisOptions (arg1, arg2) {
      if (arg2) {
        document.getElementsByClassName(arg1).classList.add('show')
      } else {
        document.getElementsByClassName(arg1).classList.remove('show')
      }
    }
  }
}
</script>

<style scoped>

</style>
