<template>
  <div class="carrousel-element container-testimonial">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 col-lg-5 vertical-align order-2 order-md-1 order-lg-1">
        <div>
          <img src="@/assets/images/autos/SUBURBAN-2020.png" class="mx-100" alt="SUSTITUIR POR LOS NOMBRES DE LOS VEHICULOS PARA EL SEO">
          <h6 class="font-weight-bold text-left text-light">Suburban 2020</h6>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-5 order-1 order-md-2 order-lg-2">
        <h4 class="text-center text-light mb-24">"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis repellendus, rem optio impedit nemo unde quaerat distinctio ex, voluptatum sequi est maxime corporis maiores ullam illum dolore quia eveniet! Doloribus!"</h4>
        <img src="@/assets/images/customers/5.jpg" class="rounded-circle mb-16 d-block mx-auto" style="max-width: 100px; border: 3px solid white;" alt="NOMBRE DE CLIENTE">
        <h6 class="text-light text-center">Victor López</h6>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Testimonial'
}
</script>

<style scoped>

</style>
