<template>
  <div id="app">
    <!--<div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>-->
    <Preloader></Preloader>
    <div class="container-fluid">
      <Sidebar></Sidebar>
      <Menu></Menu>
    </div>
    <router-view></router-view>
    <Footer></Footer>
    <DarkFooter></DarkFooter>
    <Social></Social>
  </div>
</template>
<script>
import Preloader from '@/components/Preloader'
import Sidebar from '@/components/Sidebar'
import Menu from '@/components/Menu'
import Footer from '@/components/Footer'
import DarkFooter from '@/components/DarkFooter'
import Social from '@/components/Social'
export default {
  name: 'App',
  components: {
    Preloader,
    Sidebar,
    Menu,
    Footer,
    DarkFooter,
    Social
  }
}
</script>
